#%RAML 1.0
version: v1
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/bf4dd10a-1ae1-499a-acda-1e18cb588961/ # 
title: American Flights API

types:
  AmericanFlights: !include exchange_modules/68ef9520-24e9-4cf2-b2f5-620025690913/training-american-flight-data-type/1.0.1/AmericanFlightDataType.raml

/flights:
  get:
    queryParameters:
      destination?:
        enum: ['SFO', 'LAX','CLE']
    responses:
      200:
        body:
          application/json:
            type: AmericanFlights[]
            examples: 
              output: !include exchange_modules/68ef9520-24e9-4cf2-b2f5-620025690913/training-american-flights-example/1.0.1/AmericanFlightsExample.raml
              
  post:
    body:
      application/json:
        type: AmericanFlights
        example: !include AmericanFlightNoidExample.raml
    responses:
      201:
        body:
          application/json:
            example:
              message: Flight Added

  delete:
      responses:
        200:
          body:
            application/json:
              example:
                message: Flight deleted (but not really)
  put:
    body:
      application/json:
        type: AmericanFlights
        examples:
          input: !include AmericanFlightNoidExample.raml
    responses:
      200:
        body:
          application/json:
            example:
              message: Flight updated (but not really)
        
  /{ID}:
    get:
      responses:
        200:
          body:
            application/json:
              type: AmericanFlights
              example: !include AmericanFlightExample.raml
                
      